.Matches
{
    width: 100%;
    padding-bottom: 30px;
    background-image: linear-gradient(#1e1e20, #1e1e20, #09090a7e);
    text-align: center;
}
.Matches-match
{
    display: flex;
    justify-content: space-around;
    height: 90px;
    border: 0;
    padding-top: 25px;
    margin: 0 20%;
}
.Matches-match-team
{
    width: 25%;
    padding-top: 8px;
    background-color: #92102c;
}
.team-left
{
    border-radius: 40px 0 0 40px;
}
.team-right
{
    border-radius: 0 40px 40px 0;
}
.team-score
{
    width: 10%;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}
.team-score h1
{
    color: black;
}
.Matches-match-team > img
{
    height: 50px;
    width: 50px;
}
.Matches-match-info
{
    flex: 1;
    padding-top: 2px;
    background-color: rgba(255, 255, 255, 0.8);
}
.Matches-match-info *
{
    color: black;
}
.Matches-match-info h2
{
    font-size: xx-large;
}

@media screen and (max-width: 700px)
{
    .Matches-match-team
    {
        width: 30%;
    }
    .Matches-match-team p 
    {
        font-size: 10px;
    }
    .team-score
    {
        width: 8%;
    }
    .team-score h1 {
        padding-top: 8px;
        font-size: 22px;
    }
    .Matches-match-info {
        padding-top: 14px;
    }
    .Matches-match-info h2 {
        font-size: large;
    }
    .Matches-match-info p
    {
        font-size: 12px;
    }
    .Matches-match-info > :first-child {
        font-size: 10px;
    }
}
@media screen and (max-width: 350px) {
    .Matches-match-info p {
        font-size: 10px;
    }
}